<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <footer class="footer" th:fragment="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, stworzone z  <i class="material-icons">favorite</i> przez
                    <a href="https://fivarto.pl" target="_blank">Fivarto</a> dla Bratek z.o.o
                </div>
            </div>
        </footer>
</body>
</html>