.menu-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%;
    height: 90%;
    overflow-y: auto;
    padding-bottom: 24px;
}

.menu__left {
    left: 0;
    border-right: 1px solid #666;
}

.menu__right {
    right: 0;
    border-left: 1px solid #666;
}

.menu-fixed ul {
    padding: 0;
    margin: 0;
}

.menu-fixed li {
    display: block;
}

.menu-fixed a {
    padding: 10px;
    color: #666;
    display: block;
    border-bottom: 1px solid #e4e4e4;
    transition: all 0.25s;
}

.menu-fixed a:hover {
    background: #e4e4e4;
    text-decoration: none;
}

.content {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 24px;
}

.max-height {
    max-height: 90%;
    overflow: scroll;
}

.table-main {
    width: 100%;
    table-layout: fixed;
}

.table-main td, .table-main th {
    padding: 10px;
    border-collapse: collapse;
    border-bottom: 1px solid #e4e4e4;
}

.table-main th {
    text-transform: uppercase;
    font-size: 14px;
}

.table-main td:last-of-type, .table-main td:nth-of-type(n),
.table-main th:last-of-type, .table-main th:nth-of-type(n) {
    /*width:160px; */
    text-align: center;
}

.table-main td:not(:last-of-type), .table-main th:not(:last-of-type) {
    border-right: 1px solid #e4e4e4;
}


.table-main .button {
    display: inline-block;
    background: #666;
    color: #fff;
    border: 1px solid #666;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.25s;
    max-width: 100%
}

.table-main .button:hover {
    background: #fff;
    color: #666;
    cursor: pointer;
}

.number-input {
    max-width: 100%
}

.submenu {
    margin-left: 30px;
    background: #f7f7f7;
    display: none;
}

.submenu.active {
    margin-left: 10px;
    display: block;
}

@media (max-width: 1300px) {
    .menu-fixed {
        width: 20%;
    }

    .content {
        width: 60%
    }
}

@media (max-width: 800px) {
    .menu-fixed {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        border: none !important;
    }

    .content {
        width: 100%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #666;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height: 24px;
}

.footer a {
    color: #fff;
    font-size: 12px;
}

#searchform {
    width: 250px;
    margin: 10px;
}

#searchform input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #efefef;
}